/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
/* line 6, ../sass/maintenance.scss */
#maintenance {
  margin: 50px 0 0 0;
}
@media (min-width: 1200px) {
  /* line 6, ../sass/maintenance.scss */
  #maintenance {
    margin: 126px 0 0 0;
    padding: 91px 48px 365px 297px;
    background: url(../img/bg_maintenance.png) no-repeat;
  }
  /* line 32, ../sass/mixins/_app.scss */
  .rtl #maintenance {
    padding: 91px 297px 365px 48px;
  }
}
/* line 13, ../sass/maintenance.scss */
#maintenance .logo {
  margin: 0 0 31px 0;
}
/* line 16, ../sass/maintenance.scss */
#maintenance h1 {
  font: 600 28px/34px "Roboto Condensed", sans-serif;
  color: #555555;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 14px 0;
  margin: 0 0 19px 0;
}
/* line 24, ../sass/maintenance.scss */
#maintenance #message {
  font: 600 16px/31px "Roboto Condensed", sans-serif;
  padding: 0 0 0 18px;
  color: #555454;
  text-transform: uppercase;
}
/* line 32, ../sass/mixins/_app.scss */
.rtl #maintenance #message {
  padding: 0 18px 0 0;
}

@media only screen and (min-width: 1200px) {
  /* line 32, ../sass/maintenance.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
