/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
/* line 4, ../sass/my-account.scss */
#my-account .info-account {
  margin-bottom: 20px;
}
/* line 7, ../sass/my-account.scss */
#my-account .addresses-lists {
  margin-bottom: 30px;
}
/* line 11, ../sass/my-account.scss */
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px;
}
/* line 14, ../sass/my-account.scss */
#my-account ul.myaccount-link-list li a {
  display: block;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  border: 1px solid #e1e1e1;
}
/* line 21, ../sass/my-account.scss */
#my-account ul.myaccount-link-list li a i {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 100%;
  padding: 14px 0 0 0;
  text-align: center;
  border-right: 1px solid #e1e1e1;
}
/* line 108, ../sass/mixins/_app.scss */
.rtl #my-account ul.myaccount-link-list li a i {
  right: 0;
  left: auto;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl #my-account ul.myaccount-link-list li a i {
  border-left: 1px solid #e1e1e1;
  border-right: inherit;
}
/* line 32, ../sass/my-account.scss */
#my-account ul.myaccount-link-list li a span {
  display: block;
  padding: 8px 15px 10px 17px;
  overflow: hidden;
  margin-left: 45px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 32, ../sass/mixins/_app.scss */
.rtl #my-account ul.myaccount-link-list li a span {
  padding: 8px 17px 10px 15px;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl #my-account ul.myaccount-link-list li a span {
  margin-right: 45px;
  margin-left: inherit;
}
