/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
/********************************************************
			One-Page Checkout Styles
********************************************************/
/* line 8, ../sass/order-opc.scss */
#order-opc {
  line-height: 20px;
}
/* line 10, ../sass/order-opc.scss */
#order-opc .box {
  padding-bottom: 20px;
}
/* line 13, ../sass/order-opc.scss */
#order-opc .page-heading.step-num {
  position: relative;
  overflow: visible;
}
/* line 16, ../sass/order-opc.scss */
#order-opc .page-heading.step-num span {
  font-weight: bold;
  font-size: 42px;
  line-height: normal;
  font-style: italic;
  color: #555555;
  left: 10px;
  top: 0px;
}
/* line 108, ../sass/mixins/_app.scss */
.rtl #order-opc .page-heading.step-num span {
  right: 10px;
  left: auto;
}
/* line 27, ../sass/order-opc.scss */
#order-opc .lost_password {
  display: inline-block;
  text-decoration: underline;
  margin: 5px 0 14px;
}
/* line 31, ../sass/order-opc.scss */
#order-opc .lost_password:hover {
  text-decoration: none;
}
/* line 35, ../sass/order-opc.scss */
#order-opc .opc-button {
  padding: 11px 0 0 0;
}
/* line 38, ../sass/order-opc.scss */
#order-opc ul.bullet {
  line-height: 22px;
  margin-bottom: 5px;
}
/* line 42, ../sass/order-opc.scss */
#order-opc .date-select {
  padding-bottom: 10px;
}
/* line 45, ../sass/order-opc.scss */
#order-opc .opc-add-save {
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
  padding-top: 20px;
}
/* line 50, ../sass/order-opc.scss */
#order-opc #message {
  margin-bottom: 35px;
}
/* line 53, ../sass/order-opc.scss */
#order-opc #opc_payment_methods {
  margin-bottom: 30px;
}
/* line 55, ../sass/order-opc.scss */
#order-opc #opc_payment_methods p.warning {
  color: #F13340;
  font-weight: 700;
}
/* line 60, ../sass/order-opc.scss */
#order-opc #opc_account {
  margin-bottom: 30px;
}
/* line 63, ../sass/order-opc.scss */
#order-opc .address_delivery.select {
  margin-bottom: 15px;
}
/* line 66, ../sass/order-opc.scss */
#order-opc #address_invoice_form.form-group {
  margin-bottom: 30px;
}

/* line 73, ../sass/order-opc.scss */
#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
  display: none;
}
