/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
/******************************************************************
					Sitemap Page Styles
*******************************************************************/
/* line 9, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading {
  margin-bottom: 16px;
}
/* line 12, ../sass/sitemap.scss */
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px;
}
/* line 16, ../sass/sitemap.scss */
#sitemap .sitemap_block li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  padding-right: 10px;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl #sitemap .sitemap_block li a:before {
  padding-left: 10px;
  padding-right: inherit;
}
/* line 22, ../sass/sitemap.scss */
#sitemap .sitemap_block li a:hover {
  font-weight: bold;
}

/* line 31, ../sass/sitemap.scss */
#listpage_content div.tree_top {
  padding: 5px 0 0 27px;
}
/* line 32, ../sass/mixins/_app.scss */
.rtl #listpage_content div.tree_top {
  padding: 5px 27px 0 0;
}
/* line 34, ../sass/sitemap.scss */
#listpage_content div.tree_top a:before {
  content: "\f015";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #555555;
}
/* line 42, ../sass/sitemap.scss */
#listpage_content div.tree_top a:hover:before {
  color: #f44336;
}
/* line 49, ../sass/sitemap.scss */
#listpage_content ul.tree {
  padding-left: 24px;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl #listpage_content ul.tree {
  padding-right: 24px;
  padding-left: inherit;
}
/* line 51, ../sass/sitemap.scss */
#listpage_content ul.tree li {
  margin: 0 0 0 15px;
  padding: 5px 0 0 25px;
  border-left: 1px solid #e1e1e1;
  background: url(../img/sitemap-horizontal.png) no-repeat left 15px transparent;
}
/* line 32, ../sass/mixins/_app.scss */
.rtl #listpage_content ul.tree li {
  margin: 0 15px 0 0;
}
/* line 32, ../sass/mixins/_app.scss */
.rtl #listpage_content ul.tree li {
  padding: 5px 25px 0 0;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl #listpage_content ul.tree li {
  border-right: 1px solid #e1e1e1;
  border-left: inherit;
}
/* line 56, ../sass/sitemap.scss */
#listpage_content ul.tree li a:hover {
  font-weight: bold;
}
/* line 60, ../sass/sitemap.scss */
#listpage_content ul.tree > li {
  margin: 0 0 0 11px;
}
/* line 32, ../sass/mixins/_app.scss */
.rtl #listpage_content ul.tree > li {
  margin: 0 11px 0 0;
}
/* line 63, ../sass/sitemap.scss */
#listpage_content ul.tree li.last {
  border: medium none;
  background: url(../img/sitemap-last.png) no-repeat 0px -4px transparent;
}
