/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
/* pts block top search */
#pts_search_block_top {
  background-color: #fff;
}
#pts_search_block_top .pts-search {
  background-color: #fff;
  color: #aaa;
  border: 0;
  height: 45px;
}
#pts_search_block_top .pts-search #searchbox {
  padding-top: 0px;
}
#pts_search_block_top .pts-search #searchbox .input-group {
  display: block;
}
#pts_search_block_top .pts-search #searchbox .form-control {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: none;
  width: auto;
}
#pts_search_block_top .button-search {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  border: 0;
  width: 50px;
  height: 45px;
  background: #000;
  color: #fff;
}
.rtl #pts_search_block_top .button-search {
  left: 0;
  right: auto;
}
#pts_search_block_top .button-search .icon {
  font-size: 14px;
  margin-right: 5px;
}
.rtl #pts_search_block_top .button-search .icon {
  margin-left: 5px;
  margin-right: inherit;
}
#pts_search_block_top .button-search:hover {
  background-color: #d44d5c;
  color: #fff;
}
#pts_search_block_top .input-group {
  width: 100%;
  padding-right: 50px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.24);
}
.rtl #pts_search_block_top .input-group {
  padding-left: 50px;
  padding-right: inherit;
}
@media (max-width: 480px) {
  #pts_search_block_top .input-group {
    padding-right: 45px;
  }
  .rtl #pts_search_block_top .input-group {
    padding-left: 45px;
    padding-right: inherit;
  }
}
#pts_search_block_top .input-group-btn {
  position: relative;
  color: #000;
}

#category_filter {
  border: 0 none;
  display: block;
  font-size: 13px;
  height: 41px;
  line-height: 30px;
  padding: 0 10px;
  background-color: #f8f8f8;
  margin: 2px 0;
}
@media (max-width: 480px) {
  #category_filter {
    max-width: 130px;
  }
}

#pts_search_query_top {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  height: 45px;
  font-size: 11px;
  font-style: italic;
}
#pts_search_query_top:focus {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

.ac_results {
  background: white;
  border: 1px solid #e1e1e1;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
  border-top: 1px dotted #e1e1e1;
}
.ac_results li:first-child {
  border-top: 0;
}
.ac_results li .name {
  color: #000;
  margin-bottom: 15px;
}
.ac_results li.ac_odd {
  background: white;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb;
}
