/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
#enabled_filters {
  margin: 0 0 10px 0;
  background: #eee;
  padding: 6px 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
}

#enabled_filters .layered_subtitle {
  font-size: 13px;
}

#enabled_filters ul li {
  padding: 2px 0;
}

#enabled_filters li a {
  float: right;
  color: red;
  cursor: pointer;
}
.rtl #enabled_filters li a {
  float: left;
}

#layered_block_left .radio, #layered_block_left .checkbox {
  display: inline;
  background: #26ca28;
}

#layered_block_left .hiddable a {
  font-size: 12px;
  color: #8899a6;
}

#layered_block_left .checkbox {
  border: solid 1px #e1e1e1;
}

#layered_block_left .layered_close {
  right: right;
  padding-right: 5px;
}
.rtl #layered_block_left .layered_close {
  left: right;
  right: auto;
}
.rtl #layered_block_left .layered_close {
  padding-left: 5px;
  padding-right: inherit;
}

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px;
}

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px;
}

#layered_block_left .layered_subtitle_heading {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

#layered_block_left .layered_subtitle {
  display: inline-block;
  font-family: "SanFranciscoDisplayRegular_0";
  color: black;
  font-size: 16px;
  font-weight: normal;
}

#layered_block_left ul {
  clear: both;
  padding: 5px 0;
}

#layered_block_left ul li {
  padding: 2px 0;
}

#layered_block_left ul li label {
  cursor: pointer;
  margin-bottom: 0;
}

#layered_block_left ul {
  padding: 0;
  text-transform: uppercase;
}

#layered_block_left ul li {
  list-style-type: none;
}
#layered_block_left ul li div.checker {
  margin-right: 1px;
}
.rtl #layered_block_left ul li div.checker {
  margin-left: 1px;
  margin-right: inherit;
}
#layered_block_left ul li div.checker span {
  top: 5px;
}

#layered_block_left #enabled_filters, #layered_url_filter_block {
  margin: 20px;
}

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0;
}
.rtl #layered_block_left #enabled_filters ul li {
  margin-right: 0;
  margin-left: inherit;
}
.rtl #layered_block_left #enabled_filters ul li {
  padding-right: 0;
  padding-left: inherit;
}

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit;
}

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-right: 13px;
  margin-top: 1px;
  float: left;
}
.rtl #layered_block_left ul li input.checkbox {
  margin-left: 13px;
  margin-right: inherit;
}
.rtl #layered_block_left ul li input.checkbox {
  float: right;
}

#layered_block_left ul li .disabled {
  color: #666;
}

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 14px;
  margin-left: 0;
  padding: 0;
  width: 14px;
}
.rtl #layered_block_left .color-option {
  margin-right: 0;
  margin-left: inherit;
}

#layered_block_left .color-option.disable {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

#layered_block_left .nomargin a {
  display: inline;
}

#layered_form .select {
  width: 165px;
}

#layered_form .color-option {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 1px solid #666;
  position: relative;
  top: 8px;
}
.rtl #layered_form .color-option {
  margin-left: 5px;
  margin-right: inherit;
}

#layered_form .color-option.on {
  border: 1px solid red;
}

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle;
}
.rtl #layered_form input[type=radio] {
  margin-right: 2px;
  margin-left: inherit;
}

.layered_price_range {
  margin-left: 7px;
}
.rtl .layered_price_range {
  margin-right: 7px;
  margin-left: inherit;
}

.layered_price_range_unit {
  margin-right: 7px;
}
.rtl .layered_price_range_unit {
  margin-left: 7px;
  margin-right: inherit;
}

.layered_slider_container {
  margin: 10px 0 10px 9px;
  width: 85%;
}
.rtl .layered_slider_container {
  margin: 10px 9px 10px 0;
}

.layered_slider {
  margin-top: 15px;
  height: 3px;
  border: 0;
  background: #ccd6dd !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.layered_input_range_min {
  width: 30px;
}

.layered_input_range_max {
  width: 40px;
}

.layered_list {
  display: block;
  cursor: pointer;
}

.layered_list:hover {
  font-weight: bold;
}

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center;
}

.hide-action {
  text-align: right;
  display: block;
  cursor: pointer;
}
.rtl .hide-action {
  text-align: left;
}

.hide-action:hover {
  font-weight: bold;
}

#layered_form div div ul {
  overflow-x: auto;
  margin-bottom: 0;
  margin-left: 0;
}
.rtl #layered_form div div ul {
  margin-right: 0;
  margin-left: inherit;
}

.layered_filter {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.layered_filter label {
  font-weight: normal;
  text-transform: uppercase;
  color: #8899a6;
  font-family: "SanFranciscoTextMedium_0";
}
.layered_filter .layered_subtitle {
  font-size: 1.2 em;
}
.layered_filter:last-child {
  border-bottom: none;
}

.layered_price {
  width: 100%;
  float: left;
  padding: 20px;
}
.rtl .layered_price {
  float: right;
}

.layered_slider_container .ui-slider-handle {
  background: #000 !important;
  width: 13px;
  height: 13px;
  display: block;
  border: 0;
  margin-left: -5px !important;
  top: -4px !important;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.layered_slider_container .ui-slider-range {
  background: black !important;
  height: 3px;
}
