//@import "compass";
@import "theme_variables";
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
  .sf-menu {
    position: relative;
    > li {
      position: static;
      > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px;
        > li {
          display: block;
          @include rtl-float-left();
          width: 20%;
          @include box-sizing(border-box);
          padding: 0 10px;
        }
        > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%;
          img {
            display: inline-block;
            width: 33%;
          }
        }
      }
      h4 {
        a {
          font-size: 1.1em;
          &:before {
            display: none;
          }
        }
      }
      .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        @include rtl-left(0);
      }
    }
    .category_thumb {
      display: none;
    }
  }
}

.categoriestabs{
  .block-category {
    margin-bottom: 0;
  }
  li {
    a {
      display: block;
      position: relative;
      font-family: $font-family-senary;
      font-size: $font-size-base - 1px;
      color: #8899a6;
      border:none;
    }
    span.grower {
      display: block;
      @include size(25px, 25px);
      cursor: pointer;
      font-size: 20px;
      z-index: 50;
      &:before {
        content: "--";
        display: block;
        line-height: 20px;
        text-align: center;
        font-family: $font-icon;
        letter-spacing: -2px;
      }
      &.CLOSE:before {
        content: "+";
      }
    }
    
  }
}