/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
.colorpicker {
  z-index: 9999999!important;
}

.paneltool input, .paneltool select, .paneltool label {
  font-size: 11px;
  padding: 3px 4px;
}

.paneltool input,
.paneltool select {
  width: 110px;
  border: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
}

.paneltool .clear-bg span {
  font-size: 15px;
  margin-left: 5px;
}
.rtl .paneltool .clear-bg span {
  margin-right: 5px;
  margin-left: inherit;
}

.buttons-group {
  padding: 6px 0;
}

.pts-paneltool {
  position: fixed;
  top: 0px;
  transition: all 0.6s;
  border-right: solid 2px #CCC;
  -webkit-box-shadow: 1px -1px 3px #888888;
  box-shadow: 1px -1px 3px #888888;
  z-index: 999;
  width: 350px;
  height: 100%;
  background: #FFF;
  left: -351px;
  font-size: 11px;
}

.pts-paneltool > .paneltool {
  position: relative;
  clear: both;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.pts-paneltool .pts-panelbutton {
  border: solid 1px #CCC;
  background: #FFF;
  padding: 16px 20px;
  position: absolute;
  right: -42px;
  top: 30px;
  border-left: none;
  cursor: hand;
  cursor: pointer;
  -webkit-box-shadow: 2px -1px 2px #888888;
  box-shadow: 2px -1px 2px #888888;
}

.themechanger .pts-panelbutton {
  top: 100px;
}

.paneltool input {
  border: solid 1px #CCC;
}

.paneltool label {
  width: 110px;
  font-size: 11px;
}

.pts-paneltool.active {
  left: 0;
  z-index: 999999;
}

.paneltool.active .panelbutton {
  color: red;
}

.paneltool .panelcontent {
  background: #FFF;
}

.paneltool .panel-group .panel-heading {
  padding: 4px 5px;
}

.paneltool .panel-title {
  font-size: 11px;
  padding: 2px 12px;
  font-weight: bold;
}

.pts-customize {
  height: 100%;
  padding: 15px;
}

.pts-customize .bi-wrapper > div {
  float: left;
  width: 25px;
  height: 25px;
  margin: 5px 6px;
  border: solid 1px #999;
  cursor: hand;
  cursor: pointer;
}

.pts-customize .bi-wrapper > div.active {
  border-color: red;
}

#customize-form .nav-tabs {
  padding-top: 12px;
}

#customize-form .nav-tabs li {
  margin: 0;
  padding: 0 !important;
}

#customize-form .nav-tabs > li > a {
  padding: 5px 6px;
  font-size: 11px;
}

#custom-accordionelements .panel,
#custom-accordionselectors .panel {
  margin-bottom: 5px;
}

#panethemesettingfrm .pts-paneltitle {
  font-size: 16px;
  margin-bottom: 10px;
}

#panethemesettingfrm select,
#saved-files {
  border: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
}
