/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
/*******************************************************************
					Cart Block Styles
********************************************************************/
/* line 7, ../../../sass/modules/blockcart/blockcart.scss */
.unvisible {
  display: none;
}

/* line 12, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 20px;
  bottom: inherit;
  top: 20px;
  margin: auto;
  content: "";
}
/* line 115, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart_block_list .remove_link {
  left: 20px;
  right: auto;
}
/* line 16, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  background: url(img/delete.png) right center no-repeat;
  width: 12px;
  height: 12px;
  margin-right: -10px;
  float: right;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart_block_list .remove_link a, .rtl
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  margin-left: -10px;
  margin-right: inherit;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart_block_list .remove_link a, .rtl
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  float: left;
}
/* line 22, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_list .content-price {
  background: #b99767;
  padding: 20px;
}
/* line 25, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_list .content-price #button_order_cart {
  border: 1px solid #e1e1e1;
  background: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 24px;
}
/* line 30, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_list .content-price #button_order_cart:hover {
  background: black;
  color: white;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  border: 1px solid black;
}
/* line 39, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-images {
  float: left;
  margin-right: 15px;
  max-width: 70px;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart-images {
  float: right;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart-images {
  margin-left: 15px;
  margin-right: inherit;
}
/* line 44, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  text-align: left;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart-info {
  text-align: right;
}
/* line 48, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-info > * {
  display: block;
  clear: both;
}
/* line 53, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-info .product-name a {
  float: left;
  font-family: "Poppins";
  font-size: 13px;
  color: #000;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart-info .product-name a {
  float: right;
}
/* line 60, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-info .quantity-formated {
  text-transform: uppercase;
  font-size: 11px;
  padding-right: 5px;
  float: left;
  line-height: 16px;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart-info .quantity-formated {
  padding-left: 5px;
  padding-right: inherit;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart-info .quantity-formated {
  float: right;
}
/* line 66, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-info .quantity-formated .quantity {
  font-size: 15px;
}
/* line 71, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
}
/* line 78, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block dt.last_item {
  border-bottom: none;
}
/* line 81, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block dd {
  position: relative;
}
/* line 84, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block dd .cart_block_customizations {
  border-top: 1px dashed #e1e1e1;
}
/* line 86, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block dd .cart_block_customizations li {
  padding: 10px 20px;
}
/* line 89, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  position: absolute;
  right: 10px;
}
/* line 115, ../../../sass/mixins/_app.scss */
.rtl .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
  left: 10px;
  right: auto;
}
/* line 97, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px;
}
/* line 102, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  padding: 5px 0;
  font-weight: 600;
  color: #000;
}
/* line 109, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart-buttons {
  overflow: hidden;
  margin: 20px  0 0;
}

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
/* line 118, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block {
  z-index: 99999;
  display: none;
  width: 330px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: inherit;
  top: 100%;
  margin: auto;
  content: "";
  left: auto;
  /* 	@media (max-width: $screen-sm-max) {
  		@include element-absolute(100%, inherit, -112px, left);
  	} */
}
/* line 115, ../../../sass/mixins/_app.scss */
.rtl #header .cart_block {
  left: 0;
  right: auto;
}
@media (max-width: 768px) {
  /* line 118, ../../../sass/modules/blockcart/blockcart.scss */
  #header .cart_block {
    width: 300px;
  }
}
@media (max-width: 480px) {
  /* line 118, ../../../sass/modules/blockcart/blockcart.scss */
  #header .cart_block {
    position: absolute;
    left: -100px;
    bottom: inherit;
    top: 100%;
    margin: auto;
    content: "";
  }
  /* line 108, ../../../sass/mixins/_app.scss */
  .rtl #header .cart_block {
    right: -100px;
    left: auto;
  }
}
/* line 134, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block .block_content {
  background: white;
  border: none;
}
/* line 141, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block .cart_block_list .remove_link a,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #555555;
  outline: none;
  text-decoration: none;
}
/* line 145, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block .cart_block_list .remove_link a:hover,
#header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
  color: #f44336;
}
/* line 150, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block .price {
  font-family: "Poppins";
  font-size: 15px;
}
/* line 156, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block dt.first_item {
  background: none;
}
/* line 161, ../../../sass/modules/blockcart/blockcart.scss */
#header .cart_block .product-atributes a {
  font-family: "Poppins";
  font-size: 13px;
  font-style: italic;
  color: #888;
  float: left;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl #header .cart_block .product-atributes a {
  float: right;
}
/* line 174, ../../../sass/modules/blockcart/blockcart.scss */
#header .block_content {
  margin-bottom: 0;
  padding: 0;
}

/* line 184, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none;
}

/* line 191, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl .cart_block .cart_block_shipping_cost, .rtl
.cart_block .cart_block_tax_cost, .rtl
.cart_block .cart_block_total, .rtl
.cart_block .cart_block_wrapping_cost {
  float: left;
}

/* line 195, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block table.vouchers {
  border-top: 1px solid #e1e1e1;
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
/* line 201, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block table.vouchers tr td {
  padding: 2px;
}
/* line 203, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block table.vouchers tr td.quantity {
  margin-right: 5px;
  min-width: 18px;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl .cart_block table.vouchers tr td.quantity {
  margin-left: 5px;
  margin-right: inherit;
}
/* line 207, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block table.vouchers tr td.delete {
  width: 15px;
  background: url(img/delete.png) no-repeat scroll right center transparent;
}
/* line 211, ../../../sass/modules/blockcart/blockcart.scss */
.cart_block table.vouchers tr td i {
  display: none;
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
/* line 219, ../../../sass/modules/blockcart/blockcart.scss */
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  margin: 0 !important;
}

/* line 232, ../../../sass/modules/blockcart/blockcart.scss */
* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl * html .layer_cart_overlay {
  margin-right: -160px;
  margin-left: inherit;
}

/* line 239, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart {
  display: none;
  z-index: 99999;
  position: absolute;
  left: 0;
  right: 0px;
  max-width: 1170px;
  margin: 0 auto;
  top: 100% !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 991px) {
  /* line 239, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart {
    width: 100%;
  }
}
/* line 253, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product {
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  position: static;
}
/* line 257, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product h2 {
  font: 400 23px/29px "Poppins";
  color: #46a74e;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  /* line 257, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_product h2 {
    font-size: 18px;
    padding-right: 0;
    line-height: normal;
  }
  /* line 19, ../../../sass/mixins/_app.scss */
  .rtl #layer_cart .layer_cart_product h2 {
    padding-left: 0;
    padding-right: inherit;
  }
}
/* line 266, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product h2 i {
  font-size: 30px;
  line-height: 30px;
  float: left;
  padding-right: 8px;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .layer_cart_product h2 i {
  float: right;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .layer_cart_product h2 i {
  padding-left: 8px;
  padding-right: inherit;
}
@media (max-width: 767px) {
  /* line 266, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_product h2 i {
    font-size: 22px;
    line-height: 22px;
  }
}
/* line 277, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product .product-image-container {
  max-width: 178px;
  border: 1px solid #e1e1e1;
  padding: 5px;
  float: left;
  margin-right: 30px;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .layer_cart_product .product-image-container {
  float: right;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .layer_cart_product .product-image-container {
  margin-left: 30px;
  margin-right: inherit;
}
@media (max-width: 480px) {
  /* line 277, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_product .product-image-container {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* line 289, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product .layer_cart_product_info {
  padding: 38px 0 0 0;
}
/* line 291, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  padding-bottom: 8px;
}
/* line 295, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product .layer_cart_product_info > div {
  padding-bottom: 7px;
}
/* line 297, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-right: 3px;
}
/* line 19, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  padding-left: 3px;
  padding-right: inherit;
}
/* line 303, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_cart {
  background: #fafafa;
  border-left: 1px solid #e1e1e1;
  padding: 21px 30px 157px 30px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  position: relative;
}
@media (min-width: 1200px) {
  /* line 303, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_cart {
    min-height: 352px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 303, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_cart {
    min-height: 360px;
  }
}
@media (max-width: 991px) {
  /* line 303, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_cart {
    border-left: none;
    border-top: 1px solid #e1e1e1;
  }
}
/* line 321, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_cart h2 {
  font: 23px/29px "Roboto Condensed";
  color: #555555;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 13px;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  /* line 321, ../../../sass/modules/blockcart/blockcart.scss */
  #layer_cart .layer_cart_cart h2 {
    font-size: 18px;
  }
}
/* line 331, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_cart .layer_cart_row {
  padding: 0 0 7px 0;
}
/* line 334, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .layer_cart_cart .button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 30px 20px 30px;
  text-align: center;
}
/* line 343, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .cross {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #555555;
  z-index: 2;
  color: #000;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 115, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .cross {
  left: 5px;
  right: auto;
}
/* line 355, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .cross:before {
  content: "\f057";
  display: block;
  font-family: "FontAwesome";
  font-size: 30px;
  line-height: 25px;
}
/* line 362, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .cross:hover {
  color: #f44336;
}
/* line 366, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .continue {
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 370, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart p {
  padding: 0px;
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
/* line 379, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #e1e1e1;
  padding: 26px 30px 40px 30px;
  position: relative;
}
/* line 384, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling h2 {
  font: 400 23px/26px "Poppins";
  color: #555555;
  margin-bottom: 25px;
}
/* line 389, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 394, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list ul {
  display: block;
}
/* line 396, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list ul li {
  float: left;
  width: 178px;
  margin: 0 0px 0 0;
}
/* line 8, ../../../sass/mixins/_app.scss */
.rtl #layer_cart .crossseling #blockcart_list ul li {
  float: right;
}
/* line 400, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}
/* line 406, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
  width: 100%;
}
/* line 410, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list ul li .product-name {
  padding-bottom: 5px;
}
/* line 413, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list ul li .product-name a {
  font-size: 15px;
  line-height: 20px;
}
/* line 421, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #555555;
  text-indent: -5000px;
  position: absolute;
  top: 45%;
  margin-top: -20px;
}
/* line 433, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  display: block;
  text-indent: 0;
}
/* line 437, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
  color: #c0c0c0;
}
/* line 440, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
  display: none;
}
/* line 444, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-prev {
  left: 5%;
}
/* line 446, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-prev:after {
  content: "\f137";
}
/* line 450, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-next {
  right: 5%;
}
/* line 452, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list a.bx-next:after {
  content: "\f138";
}
/* line 456, ../../../sass/modules/blockcart/blockcart.scss */
#layer_cart .crossseling #blockcart_list .bx-controls {
  overflow: hidden;
}
