/**
 * BASE CSS STYLES
 */
html {
    margin: 0;
    padding: 0;
}
body {
  background: $body-bg;
  color: $text-color; 
  overflow-x:hidden;
  font-family: $font-body-family;
  font-weight: $font-weight;
  font-size: $font-size-base;
  line-height:  24px;
}

.tree,
.tree-menu {  
        > ul > li {
            @include size(100%,auto);
            position: relative;
            &.active {
                > a {
                    color: $theme-color;
                }
            }

        ul {
           // display: none;
           li {
            position: relative;
            @include rtl-padding-right (0);
            &.last {
              padding-bottom: 0;
            }
           }
        }
            a.active {
                font-weight: bold;
                color: $theme-color;
            + ul {
                display: block;
                padding: 0 0 10px 10px;
            }
        }
        ul > li {
            > a {
                    
                &:hover{
                }
                &.active {
                    font-weight: bold;
                    color:$megamenu-sub-link-hover-color;  
                }
            }

        }
    }
}
a:focus,
a:hover{
    color: $theme-color;
    text-decoration: none;
    outline: none;
}
