// Navs
// --------------------------------------------------

  ##{$app-brand-prefix}-top-menu {
	padding: 0;
	/* max-height: inherit; */
	@media (max-width: $screen-sm-max) {
	    left: 0;
	    position: absolute;
	    top: 100%;
	    z-index: 999;
	    width: 100%;
		background-color: #fff;
		margin-top: 1px;
    	@include box-shadow(0 2px 2px #ccc);
    	@include rtl-text-align-left;
    	.megamenu{
    		li{
    			border-bottom:1px solid $border-color;
    		}
    	}
	}
  }

 .#{$app-brand-prefix}-megamenu {
	background: $megamenu-outside-bg;
    font-family: $megamenu-font-family;
    padding: 0;
    position: relative;
    max-height: inherit;
	.#{$app-brand-prefix}-colorbox{
		display: none !important;
	}
	.navbar{
		border: 0;
		padding: 0;
		margin: 0;
		max-height: inherit;
		position: inherit;
		.navbar-header {
			text-align: center;
			.navbar-toggle {
				margin: 15px 0;				
				border-color: $border-color;
				background: $black;
				float: none;
				@media (max-width: $screen-md-max) {
					margin: 28px 0;	
				}
				@media (max-width: $screen-xs-max) {
					margin: 18px 0;	
				}
				.icon-bar {
					background-color: $white;
				}
				&:hover {
					.icon-bar {
						background-color: $link-hover-color;
					}
				}
			}
		}
	}
	.megamenu {
		> li {
			@include rtl-float-left();
			@media (max-width: $screen-sm-max){
				width: 100%;
			}
			> a {
				position: relative;
				padding: 32px 20px;
				line-height: 26px;
				.menu-title {
					font-weight: $megamenu-font-weight;
					font-size: $megamenu-link-font-size;
					font-family: $megamenu-font-family;
					color: #000;
					text-transform: uppercase;
				}
				.sub-title {
					display: block;
					text-transform: normal;
					font-size: 10px;
					position: absolute;
					top: 0;
					background: #03a9f4;
					padding: 3px 6px;
					text-align: center;
					right: 0;
					line-height: 10px;
					font-weight: 500;
					color: #fff;
					@media (max-width: $screen-sm-max) {
						display: none;
					}
					&:before {						
					    content: "";
					    position: absolute;					    
					    top: 15px;
					    @include size(0,0);
					    right: 0;
					    border: 3px solid transparent;
					    border-top-color: #03a9f4;
					    border-right-color: #03a9f4;
					}
				}
			}
			&.dropdown {
				&:hover{
					background: $theme-color;
					@include transition(all 0.2s ease 0.0s);
					span.menu-title,b.caret{
						color:$white !important;
						&:before{
							color:$white !important;
						}
					}
					@media (max-width: $screen-md-max) {
						background:none;
						span.menu-title,b.caret{
							color:$black !important;
							&:before{
								color:$black !important;
							}
						}
					}
				}
				.caret {
					border: none;
					position: relative;
					width: 5px;
					@include rtl-float-right;
					&:before {
						color: $megamenu-sub-link-color;
					    content: "\f107";
					    font: 13px $font-icon;
					    position: absolute;
					    @include rtl-right(-10px);
					    top: 3px;
					}
				}
				&.open,
				&:hover {
					@media (min-width: $screen-md) {
						> .dropdown-menu {
							@include rtl-left(0);
							opacity: 1;
							visibility: visible;
							overflow: visible;
							transform: scale(1);
							top:100%;
							margin-top:0px;
						}
						> a {
							color: $megamenu-link-hover-color;
						}						
					}
				}
			}
			&.open,
			&:hover {
				> a {
					.menu-title {
						color: $megamenu-link-hover-color;
					}
					&:focus,
					&:hover {
						.menu-title {
							color: $megamenu-link-hover-color;
						}
					}
				}
			}
			&.aligned-fullwidth {
				position: static;
				> .dropdown-menu  {
					display: block;
					width: 100%!important;
				}
			}
			> .dropdown-menu  {
		//		width: 100%!important;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				display: block;
				transition:top 0.5s ease 0s;
				transform: scale(0);
				top:60%;
				.mega-col{
					span.menu-title{
						color: $megamenu-sub-link-color !important;
						&:hover{
							color: $theme-color;
						}
					}
				}
			}
			&.aligned-right {
				.dropdown-menu  {
					right: 0;
					left: auto;
				}
			}
			&.aligned-left {
				.dropdown-menu  {
					@include rtl-left(0);
					@include rtl-right(auto);
				}
			}
			&.aligned-center {
				.dropdown-menu  {
					@include rtl-left(50%);
				}
			}
			&.hot {
				> a {
					.sub-title {
						background-color: #eb5466;
						&:before {
							border-top-color: #eb5466;
					    	border-right-color: #eb5466;
						}
					}
				} 
			}			
			@media (max-width: $screen-sm-max) {
				&.open {
					.dropdown-menu {
						display: block;
						padding-top: 0;
						padding-bottom: 0;
						transform: scale(1);
						opacity: 1;
						visibility: visible;
						overflow: visible;
					}
				}
			}
		}
	}
	/* level 2 */
	.dropdown-menu{
		top: 100%;
		left: 0;
		height: auto;
		font-weight: 300;
		color: $megamenu-sub-text-color;
		min-width: $megamenu-sub-min-width;
		background-color: $megamenu-sub-bg-color;
		font-family: $font-family-sans-serif;
		padding: 0;
		border: 0;
		@include rtl-text-align-left;
		@include transition(opacity 0.3s linear 0s);
	    li{
	    	list-style: none;
		    a {
		    	color:$megamenu-sub-link-color;
			   	padding: 3px 0;
			   	font-size: $megamenu-sub-font-size;
			   	display: block;
			   	text-transform: uppercase;
			   	&:hover{
			   		background-color: transparent;
			   		color: $megamenu-sub-link-hover-color;
			   		.caret {
			   			color: $megamenu-sub-link-hover-color;
			   		}
			   	}
		    }
	    }
	    .dropdown-menu-inner {
			@include border-radius(3px);
			padding: $megamenu-sub-padding;
			@include box-shadow($megamenu-sub-shadow);
			z-index: 9999;
			ul{
				padding:0px;
			}
			.mega-col{
				@include rtl-border-right(1px solid $border-color);
				min-height: 260px;
				@media (max-width: $screen-sm-max) {
					width:100%;
  				}
				&:last-child{
					@include rtl-border-right(none);
				}
			}
			.widget-products{
				.w-product{
					border-right:none;
					.new{
						display: none;
					}
				}
				.product-block{
					&:hover{
						box-shadow:none;
					}
				}
			}
			.widget-manufacture{
				text-align: center;
			}
	    }
		.dropdown{
			&:hover{
				> .dropdown-menu{
	    			display: block;
	    			left: 0px;
				}
				> a{
					color: $megamenu-link-hover-color;
					display: block;
				}
			}
		}
		/* level > 3 */
		.dropdown-submenu {
			position: relative;
			> a {
				.caret {
					&:before {
						content: "\f105";
					}
				}
			}
			@media (min-width: $screen-sm-max){
				&.open,&:hover {
					> .dropdown-menu {
						display: block;
						@include rtl-left(100%);
						top: -5px;
						background: transparent;
						padding: 0;
						box-shadow: none;
						.dropdown-menu-inner {
							@include rtl-margin-left(25px);
							background: $megamenu-sub-bg-color;
							padding: 15px;
							//border: $megamenu-sub-border;
							@include box-shadow($megamenu-sub-shadow);
						}
					}
				}
			}
		}
		.menu-title {
			line-height: 25px;
		}
		.mega-group {
			& > .dropdown-toggle {
				border: 0;
				display: block;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-family: $megamenu-heading-title;
				color: $megamenu-heading-color;
			}
		}
		.megamenu .cols1{
			min-width:200px;
		}
		.megamenu .cols2{
			min-width:500px;
		}
		.megamenu .cols3{
			min-width:740px;
		}
	}
}
/*** widgets using inside megamenu ***/
.megamenu {
	.#{$app-brand-prefix}-widget {
			//widget
		.widget-heading {
	 		font-weight: bold;
	 		color: $megamenu-widget-title-color;
	 		font-size: $megamenu-widget-title-font-size;
	 		font-family:  $megamenu-widget-title-font-family;
	 		margin-bottom: 10px;
	 		@include rtl-text-align-left();
	 		text-transform:uppercase;
	 	}
			/* product-list */

		.widget-products {
			.product-block {
				padding: 0 0 15px;
				.name {
					margin-top: 0;
					&:after {
						left: 0;
						margin-left: 0;
					}
					a {
						height: auto;
						text-transform: none;
					}
				}
				.product_img_link {
					border: 1px solid $base-border-color;
					padding: 0;
				}
			}
		}
		/* Tabs List */
		.widget-tab {
			.nav-tabs {
				border-bottom: $main_border;
				li {
					padding: 0;
					&:before {
						content: none;
					}
					a {
						padding: 5px 10px;
						&:hover {
							border: $main_border;
							border-bottom: none;
						}
					}
					&.active {
						a {
						}
					}
				}
			}
			.tab-content {
				border: $main_border;
				border-top: none;
				margin: 0 !important;
				padding: 10px;
			}
		}
		/* end Tabs List */
		/* widget-accordion */
		.widget-accordion {
			.panel-heading {
				padding: 0;
				h4 {
					background: none;
					cursor: pointer;
					padding: 8px 10px;
					a {
						color: $red;
						&.collapsed {
							color: #000;
						}
					}
				}
			}
		}
	}
	//widget
	.widget-manufacture {
		.manu-logo {
			border: 0;
			a {
				display: inline-block;
				border: 1px solid $base-border-color;
				margin-bottom: 10px;
				&:hover {
					border-color: $link-hover-color;
				}
			}
		}
	}
	//block link
	.widget-inner {
		.nav-links {
			li {
				a {
					padding: 3px 0;
				}
			}
		}
	}
	.widget-products {
		.product-block {
			.name a {
				color: #000;
				&:hover {
					color: $theme-color;
				}
			}
		}
	}
	.widget-subcategories {
		background: transparent!Important;
	}
}

/* vertical menu */

 ##{$app-brand-prefix}-verticalmenu{
 	.title_block {
/*  		background-color: #222;
 		color: #fff;
 		text-transform: uppercase;
 		padding: 10px 25px;
 		font-size: 14px;
 		line-height: 25px;
 		border-bottom: 0; */
 		.icon {
 			text-align: center;
 			line-height: 20px;
 			color: #fff;
 			@include rtl-float-right;
 			color: $theme-color;
 			@include rtl-margin(2px, -10px, 0, 0);
 		}
 	}
 	.navbar-default {
 		background-color: transparent;
 		border: 0;
 		margin-bottom: 0;
 	}
	.pts-verticalmenu {
	 	//min-height: $vertical-menu-content-height;
	 	font-family: $font-custom;
	 	font-weight: 400;
	 	padding: 0!important;
	 	background-color: $vertical-menu-content-bg;
	 	position: absolute;
	 	z-index: 90;
	 	border: 1px solid $base-border-color;
	 	@media (min-width: $screen-sm-max) {
	 		display: none;
		 	&.collapse {
		 		display: none!important;
		 	}
	 	}
	}
	@media (min-width: $screen-sm-max) {
		&:hover {
			.pts-verticalmenu {
				display: block;
				&.collapse {
			 		display: block!important;
			 	}
			}
		}
	}
}
div.verticalmenu {
	z-index: 100;
	.navbar-collapse,
	.navbar-vertical {
		margin:0;
		padding:0
	}
	ul {
		padding-left: 0;
		list-style: none;
	}
	.navbar-nav{
		position: static;
		padding: 0;
		margin: 0;
		@include clearfloat();
		> li {
			@include size(100%,auto);
			position: static;
			border-bottom: 1px solid $vertical-menu-content-border;
			@include rtl-float-left;
			font-size: $font-size-base + 3;
			> a {
				display: block;
				color: $vertical-menu-color;
				font-size: $vertical-menu-font-size;
				padding: $vertical-menu-link-padding;
				font-family: $vertical-menu-font-family;
				font-weight: $vertical-menu-font-weight;
				&:before {
					border: 5px solid transparent;
					height: 100%;
					z-index: 1001;
				}
				.menu-icon{
					display: block;
					padding: 2px 0;
					@include rtl-background-position-left(center!important);
					span{
						display: block;
						@include rtl-margin-left(35px);
						line-height: $vertical-menu-line-height;
						padding: 5px 0;
						&.menu-desc{
							font-style: $vertical-description-font-style;
							font-family: $vertical-description-font-family;
							color: $vertical-description-color;
							font-weight: $vertical-description-font-weight;
							font-size: $vertical-description-font-size;
							text-transform: none;
							line-height: 14px;
						}
					}
				}
				.caret {
					position: absolute;
					@include rtl-right(15px);
					top: 40%;
					border-top: 1px solid #999;
					@include rtl-border-right(1px solid #999);
					border-bottom: 0;
					border-left: 0;
					width: 7px;
					height: 7px;
					background: transparent;
					padding: 0;
					@include rtl-rotate(45deg);

				}
				&:hover,&:focus{
					color: $vertical-menu-link-hover-color;

				}
			}
			&.last a ,&:last-child{
				border: 0;
			}
			&.parent {
				&:focus,
				&:hover {
					> a  {
						&:before {
							border-color: #fff;
						}
					}
				}
			}
			// Hover Effect
			&:focus,
			&:hover{
				> a {
					color: $vertical-menu-link-hover-color;
					//background-color: #fafafa;
					.caret{
						border-top-color: $theme-color;
						border-right-color: $theme-color;
					}
				}
			}
			.parent{
				position: relative;
				> a  {
					.caret {
						position: absolute;
						@include rtl-right(10px);
						top: 40%;
						border-top: 1px solid #000;
						@include rtl-border-right(1px solid #000);
						border-bottom: 0;
						border-left: 0;
						width: 6px;
						height: 6px;
						background: transparent;
						@include rtl-rotate(45deg);
					}
				}
				> .dropdown-toggle{
					text-transform: none;
					font-weight: normal;
				}
				> .dropdown-menu {
					min-height: 100px;
					height: 100px;
					height: auto !important;
					@include box-shadow(0px 0px 5px 1px rgba(0,0,0,0.13));
				}
			}
			@media (max-width: $screen-sm) {
				&.open {
					.dropdown-menu {
						display: block;
						top: 0;
					}
				}
			}
		}
	}

	.dropdown-menu{
		top: -9999px;
		right: auto;
		border: 0;
		min-height: 100%;
		min-width: $vertical-sub-menu-width;
		padding: $vertical-sub-menu-padding;
		background: $vertical-sub-menu-bg;
		font-family: $vertical-sub-menu-font-family;
		color: $vertical-sub-color;
		border-top: 3px solid #000;
		margin-top: -3px;
		@include box-shadow($vertical-sub-shadow);
		@media (min-width: $screen-md) {
			display: block;
		}
		@media (max-width: $screen-sm-max) {
			width: 100% !important;
		}
		ul{
			li{
				border: 0;
				padding: 4px 0;
				line-height: normal;
				list-style: none;
				a{
					color: $vertical-sub-menu-link-color;
					font-size: $vertical-sub-menu-link-font-size;
					font-family: $font-family-senary ;
					text-transform: uppercase;
					font-weight: 400;
					padding: 3px 0;
					display: block;
				}
				&:hover {
					> a {
						color: $vertical-sub-menu-link-hover-color;
						.caret{
							border-color: $vertical-sub-menu-link-hover-color;
						}
					}
				}
			}
		}
		p{
			line-height: 18px;
			font-size: $vertical-sub-menu-link-font-size;
		}
		.#{$app-brand-prefix}-menu-video{
			width: 100%;
			iframe{
				margin-bottom: $padding-small-horizontal;
			}
		}
		.action {
			display: none;
		}
	}
	.widget-heading,
	.widget-title {
		font-family: $vertical-widget-title-font-family;
		color: $vertical-widget-title-color;
		font-size: $vertical-widget-title-font-size;
		font-weight: normal;
		margin-bottom: 5px;
	}
	.product-block {
		padding: 15px;
		width: 33%;
		@include rtl-float-left;
		@media (max-width: $screen-sm) {
			width: 50%;
		}
		.product-meta {
			@include rtl-text-align-left();
		}
	}
	.widget-manufacture { 
		padding: 0 10px;
		.manu-logo {
			border: 0;
			margin: 10px 0;
		}
	}
}
//widget

	//block link
		.widget-inner {
			.nav-links {
				li {
					a {
						padding: 5px 0;
					}
				}
			}
		}

.right {
    div.verticalmenu {
        .navbar-nav{
            > li {
                > a {
                    &:before {
                        @include element-absolute (0,inherit,-2px,left);
                    }
                }

                // Hover Effect
                &:focus,
                &:hover{
                 //   @media (max-width: $screen-md-max) {
                        > .dropdown-menu{
                            @include rtl-right(100%);
                            top: 0px;
                        }
                   // }
                }
                .parent{
                    &:hover{
                        > .dropdown-menu{
                            @include rtl-right(100%);
                            top: 0px;
                            @include opacity(1);
                        }
                    }
                }

            }
        }
    }
}
.left {
	    div.verticalmenu {
        .navbar-nav{
            > li {
                > a {
                    &:before {
                        @include element-absolute (0,inherit,-2px,right);
                    }
                }

                // Hover Effect
                &:focus,
                &:hover{
                    @media (min-width: $screen-md) {
                        > .dropdown-menu{
                            @include rtl-left(100%);
                            top: 0px;
                        }
                    }
                }
                .parent{
                    &:hover{
                        > .dropdown-menu{
                            @include rtl-left(100%);
                            top: 0px;
                            @include opacity(1);
                        }
                    }
                }

            }
        }
    }
}
.widget-module {
	&.block-borderbox {
		border-top: 0;
	}
	#pts-verticalmenu {
		margin: 0 0 30px!important;
	}
	.verticalmenu {
		z-index: 75;
	}
	#pts-verticalmenu .pts-verticalmenu {
		@media(min-width: $screen-sm-max) {
			display: block!important;
		}
		@media (max-width: $screen-md-max) {
			display: block !important;
			opacity: 1;
			overflow: visible;
			visibility: visible;
		}
		position: relative;
		border: 1px solid $border-color;
		z-index: 80;
	}
}
// pts block top search

#pts_search_block_top{
    background-color: $white;
  //  padding:15px 0px;
    @include inline-block();
    @media (max-width: $screen-md-max) {
    	padding:15px 15px;
    }
    .pts-search{
        background-color: $white;
        color: #aaa;
        border: 0;
        #searchbox{
            padding-top:0px;
            .input-group{
                display: block;
            }
            .button-search{
                border:none;
                box-shadow:none;
                color: $black;
                background:url("#{$image-theme-base-path}icon-search.png") no-repeat center center;
                @include size(18px,19px);
            }
            .form-control{
                @include inline-block();
                float: none;
                width: auto;
                box-shadow:none;
           //     width: 80%;
           		display: none;
                border:none;
            }
        }
    }
}
@media(min-width: $screen-sm-max) {
	.menu_fixed {
		position: fixed;
		z-index: 95;
		width: 100%;
		top: 0px !important;
		@include transition(all 0.5s ease-in-out 0s);
		@include box-shadow(0 0 3px #333);
		#pts_search_block_top{
			padding: 8px 0;
			@include transition(all 0.2s ease 0s);
		}
		.pts-megamenu .megamenu > li > a{
		    padding: 10px 22px;
		    @include transition(all 0.2s ease 0s);
		}
		.logo-theme{
			a{
				margin: 2px 0px !important;
			}
		}
		.search{
			padding:11px 0px !important;
		}
		#logo-theme a{
			margin: 0px;
		}
	}
}