
.block_manuf {
  margin: 15px 0;
  a {
    position: relative;
    display: block;
    img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        filter: grayscale(100%); /* Current draft standard */
        -webkit-filter: grayscale(100%); /* New WebKit */
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%); 
        -o-filter: grayscale(100%);
        filter: gray; /* IE6+ */
    }
    &:hover {
      img {
         filter: grayscale(0%); /* Current draft standard */
         -webkit-filter: grayscale(0%); /* New WebKit */
         -moz-filter: grayscale(0%);
         -ms-filter: grayscale(0%); 
         -o-filter: grayscale(0%);
         filter: none; /* IE6+ */
      }
    }
  }
}
.parallax {
  @include parallax();
}

.product-block {
  .left-block {
    position: relative;
  }
  .image {
    /*swap image*/
    .hover-image {
        position: absolute;
        padding:0;
        text-align: center;
        top: 0;
        width: 100%;
        left: 100%;
        @include transition (all 0.4s ease-in-out);
        visibility: hidden;
        @include opacity(0);
    }
  }
  @media(min-width: $screen-sm-max) {
    &:hover {
        &.swap-gallery {
            .product-zoom {
              margin: -10px -40px -0 0;
            }
            .pav-colorbox {
              margin: -10px 0 0 -25px;
            }
            .thumbs-wrap {
                left: -90px;
                @include opacity(1);
            }
        }
        .hover-image {
            opacity: 1;
            left: 0;
            visibility: visible;
        }
    }
  }
}


//style default 

    .default {

    }
    
//widget images
.widget-images {
  .image-item {
    overflow: hidden;
    display: block;
    @media (max-width: $screen-sm-max) {
       img{
          width:100%;
       }
    }
    .pts-popup {
      @include size(35px,35px);
      z-index: 99;
      top: 50%;
      margin-top: -18px;
      position: absolute;
      left: 50%;
      margin-left: -18px;
      color: #fff;
      background: #000;
      @include border-radius(50%);
      @include scale(0);
      @include opacity(0);
      @include transition(all 0.3s ease-in-out 0s);
      text-align: center;
      line-height: 35px;
    }
 /*    &:hover {
      .pts-popup {
        @include scale(1);
        @include opacity(1);
      }
    } */
  }
  &.no-animation {
    .image-item {
      &:hover {
        img {
          @include scale(1,1);
          @include opacity(1);
        }
      }
    }
  }
}


//banner

.banner-effect-1 {
  .widget-inner {
    .image-item {
      &:before {
        border: 2px solid $base-border-color;
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.1);
        content: "";
        bottom: 25px;
        left: 25px;
        right: 25px;
        top: 25px;
        opacity: 0;
        position: absolute;
        transform: scale3d(1.4, 1.4, 1);
        transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
      }
    }
    &:hover {
      .image-item:before {
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
.banner-effect-2 { 
  .image-item {
    overflow: hidden;
    display: block;
    img {
      @include scale(1,1);
      @include transition(all 0.3s ease-in-out 0s);
    }
    &:hover {
      img {
        @include scale(1.1,1.1);
        @include opacity(0.8);
      }
    }
  }
}
.banner-effect-3 { 
  .image-item {
    border: 1px solid $base-border-color;
    &:before, &:after {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: '';
      @include opacity(0);
      @include transition(opacity 0.5s, transform 0.5s);
    }
    &:before {
      border-top: 1px solid $theme-color;
      border-bottom: 1px solid $theme-color;
      @include scale(0, 1);
    }
    &:after {
      border-right: 1px solid $theme-color;
      border-left: 1px solid $theme-color;
      @include scale(1, 0);

    }
    &:hover {
      cursor: pointer;
      &:before, &:after {
        @include opacity(1);
        @include scale(1, 1);
        z-index: 9999;
      }
    }
  }
}