@import "theme_variables";

.boxcarousel {
	position: relative;
	.carousel-controls {
		position: absolute;
		width: 100%;
		top: 50%;
		@include rtl-right(0px);
		margin-top: 0px;
		@include opacity(0);
	}
	.carousel-control {
		@include size(40px,40px);
		line-height: 40px;
		@include border-radius(0px);
		/* &:hover{
			border:1px solid $theme-color;
		} */
		&.left{
		  left: 0px;
		}
		&.right{
		  right: 0px;
		}
	}
}