@import "compass";
@import "theme_variables";

/**************************************************************************
					Contact Page Styles
**************************************************************************/

.contact-title {
	margin: -5px 0 27px 0;
	line-height: 23px;
	i {
		font-size: 23px;
		color: #c0c0c0;
		padding: 0 8px 0 0;	
	}
}

.contact-form-box {
	margin: 0 0 20px 0; 
	fieldset {
		background-size: contain;
	}
	label {
		margin: 0 0 6px 0;	
	}
	.page-subheading {
		@include rtl-padding-left(0px);
		border: none;
		margin-bottom: 0;
	}

	#desc_contact0 {
		display: none;
	}
	.form-group {
		margin-bottom: 7px;
	}
	textarea {
		height: 257px;	
	}
	.submit {
		margin-top: 13px;
	}
	select.form-control {
		max-width: 270px;
		width: 100%;
	}
	input.form-control {
		max-width: 270px;	
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) {// min 992px max 1199px
		div.uploader span.filename {
			width: 114px;	
		}
	}
}

//ptscontact
.pts-ourcontact {
	border-top: 1px solid $base-border-color;
	margin-top: 15px;
	padding-top: 15px;
	li  {
		margin: 4px 0;
		em {
			background: none repeat scroll 0 0 rgb(74, 74, 74);
		    color: rgb(212, 212, 212);
		    display: inline-block;
		    font-size: 18px;
		    margin-right: 10px;
		    padding: 6px 0 6px 4px;
		    text-align: center;
		    width: 28px;
		    border-radius: 2px;
		}
	}
}