 // style Home2 

 @charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}


	@import "compass";
	@import "compass/reset";
	@import "themes/vars/home2";
	@import "theme_variables";
	@import "vars/bootstrap";
	@import "bootstrap_rtl";
	@import "font-awesome";
	@import "app/base";
	@import "app/block";

	@import "themes/home2/header";
	@import "themes/home2/layout";
	@import "themes/home2/default";
	@import "themes/home2/modules";
	@import "themes/home2/menu";
	@import "app/product";
	@import "app/form";
	@import "themes/home2/animation";
	@import "app/elements";

	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";




 