/* style Home4 */

 @charset "UTF-8";

* {
	direction: rtl !important;
}
#page {
	text-align: right !important;
}
 
	@import "compass";
	@import "compass/reset";
	@import "themes/vars/home4";
	@import "theme_variables";
	@import "vars/bootstrap";
	@import "bootstrap_rtl";
	@import "font-awesome";
	@import "app/base";
	@import "app/block";
	@import "themes/home4/layout";
	@import "themes/home4/default";
	@import "themes/home4/menu";
	@import "themes/home4/modules";
	@import "app/product";
	@import "app/form"; 
	@import "themes/home4/animation";
	@import "app/elements";
	@import "themes/home4/header";

	@import "typo";
	@import "prestashop-module";
	@import "prestashop-pages";
 