$image-path:                   "../img/elements/"!default;

$border-color                  : #dddddd !default;

$bo-page-headding-v4-fontsize:      200px;
$bo-page-headding-v4-fontweight:    700;

$bo-page-headding-v3-fontsize:      60px;
$bo-page-headding-v3-fontweight:    700;

$bo-page-headding-v2-fontsize:      48px;
$bo-page-headding-v2-fontweight:    700;

$bo-page-headding-fontsize:      30px;
$bo-page-headding-fontweight:    700;

 /* --- SCSS For Accordion --- */
$bo-accordion-background:                        $brand-primary !default; 
$bo-accordion-color:                             $brand-primary !default;

$bo-accordion-border-color:                      #eee !default;

 /* --- SCSS For Breadcrumb --- */

 /* --- SCSS For Buttons --- */

 /* --- SCSS For Call-to-action --- */$white : #FFFFFF !default;

 /* --- SCSS For Content-slider --- *//*  */

$bo-carousel-md-width:                             44px !default;
$bo-carousel-md-height:                            44px !default;

$bo-carousel-sm-width:                             34px !default;
$bo-carousel-sm-height:                            34px !default;

$bo-carousel-xs-width:                             28px !default;
$bo-carousel-xs-height:                            28px !default;

/* carousel-controls-v1 */
$bo-carousel-controls-v1-color:                    #999 !default;
$bo-carousel-controls-v1-hover-color:              darken($bo-carousel-controls-v1-color, 15%) !default;
$bo-carousel-controls-v1-bg:                       rgba(0, 0, 0, 0.5) !default;

/* carousel-controls-v2 */
$bo-carousel-controls-v2-color:                    #999 !default;
$bo-carousel-controls-v2-hover-color:              darken($bo-carousel-controls-v2-color, 25%) !default;

/* carousel-controls-v3 */
$bo-carousel-controls-v3-color:                    #fff !default;
$bo-carousel-controls-v3-hover-color:              #fff !default;
$bo-carousel-controls-v3-bg:                       $brand-primary !default;
$bo-carousel-controls-v3-hover-bg:                 lighten($bo-carousel-controls-v3-bg, 15%) !default;



/* Navigation Styles */

/* carousel-indicators-v1 */
$bo-carousel-indicators-v1-bg:                     #ddd !default;
$bo-carousel-indicators-v1-hover-bg:               $brand-primary !default;

/* carousel-indicators-v2 */
$bo-carousel-indicators-v2-bg:                     #ddd !default;
$bo-carousel-indicators-v2-hover-bg:               $brand-primary !default;

/* carousel-indicators-v3 */
$bo-carousel-indicators-v3-bg:                     $brand-primary !default;
$bo-carousel-indicators-v3-hover-bg:               $brand-primary !default;

/* carousel-indicators-v4 */
$bo-carousel-indicators-v4-bg:                     $brand-primary !default;
$bo-carousel-indicators-v4-hover-bg:               $brand-primary !default;


/* carousel-indicators-v5 */
$bo-carousel-indicators-v5-bg:                     $brand-primary !default;
$bo-carousel-indicators-v5-hover-bg:               $brand-primary !default;

/* carousel-indicators-v6 */
$bo-carousel-indicators-v6-bg:                     $brand-primary !default;
$bo-carousel-indicators-v6-hover-bg:               $brand-primary !default;

 /* --- SCSS For Counters --- */$bo-counter-color:                   $brand-warning;
$bo-counter-font-weight:             800;
$bo-counter-font-size:               36px;

$bo-counter-icon-font-size:          46px;
$bo-counter-heading-font-weight:     700;

 /* --- SCSS For Heading --- */$bo-heading-color:            $brand-primary;

 /* --- SCSS For Icon-box --- */$bo-feature-box-bg:                     $brand-primary!default;
$bo-feature-box-border-color:           $brand-primary!default;

 /* --- SCSS For Interactive-banner --- */$bo-interactive-banner-bg:                                $brand-primary !default;

$bo-interactive-banner-v4-bg:                             $brand-primary !default;

 /* --- SCSS For Latest-posts --- *//* latest posts */
$bo-latest-posts-color:                   $text-color;
$bo-latest-posts-a-color:                 $link-color;
$bo-latest-posts-a-hover-color:           $link-hover-color;
$bo-latest-posts-font-size:               14px;
$bo-latest-posts-title-font-size:         14px;

$bo-latest-posts-profile-font-size:       12px;
$bo-latest-posts-profile-color:           $text-color;
$bo-latest-posts-profile-font-weight:     800;

 /* --- SCSS For List --- *//* variables for list */
$bo-list-color:                           $text-color !default; 
$bo-list-a-color:                         $brand-primary!default;  
$bo-list-a-color-hover:                   lighten($bo-list-a-color, 44%)!default;

/* variables for list light */

$bo-list-light-color:                     #FFFFFF !default; 
$bo-list-light-a-color:                   #999 !default; 
$bo-list-light-a-color-hover:             darken($bo-list-light-a-color, 10%)!default;

 /* --- SCSS For Message --- */

 /* --- SCSS For Newsletter --- */$newsletter-v2-bg            : lighten($gray-light, 50%) !default;
$newsletter-v3-bg            : $gray-dark !default;


 /* --- SCSS For Piechart --- */

 /* --- SCSS For Pricing --- */

 /* --- SCSS For Process-steps --- *//* process-steps */
$bo-process-steps-color:                      #000;
$bo-process-steps-bg:                         #000;

$bo-process-steps-active-color:               $brand-warning;
$bo-process-steps-active-bg:                  $brand-warning;

 /* --- SCSS For Service --- *//* variables for tab style1 using as base of tab */


 /* --- SCSS For Style-icon --- *//* Variables icons default */
$bo-style-icon-color:                              #fff!default;
$bo-style-icon-hover-color:                        #fff!default;
$bo-style-icon-bg:                                 $brand-primary!default;
$bo-style-icon-hover-bg:                           lighten($bo-style-icon-bg, 15%)!default;

/* Variables icons bodered */
$bo-style-icon-bodered-color:                      $brand-primary!default;
$bo-style-icon-bodered-hover-color:                lighten($bo-style-icon-bodered-color, 10%)!default;

/* Variables icons darker */
$bo-style-icon-darker-color:                        #fff!default;
$bo-style-icon-darker-hover-color:                  #fff!default;
$bo-style-icon-darker-bg:                           #000!default;
$bo-style-icon-darker-hover-bg:                     lighten($bo-style-icon-darker-bg, 35%)!default;

/* Variables icons light */
$bo-style-icon-light-color:                        #000!default;
$bo-style-icon-light-hover-color:                  #fff!default;
$bo-style-icon-light-bg:                           #fff!default;
$bo-style-icon-light-hover-bg:                     #000!default;

/* Variables icons plain */
$bo-style-icon-plain-color:                        $brand-primary!default;
$bo-style-icon-plain-hover-color:                  lighten($bo-style-icon-plain-color, 10%)!default;
$bo-style-icon-plain-bg:                           transparent!default;
$bo-style-icon-plain-hover-bg:                     transparent!default;

/* Variables icons outline */

$icons-outline-color:                              #000!default;
$icons-outline-bg:                                 transparent!default;
$icons-outline-border:                             $icons-outline-color!default;
$icons-outline-hover-color:                        #fff!default;		
$icons-outline-hover-bg:                           $icons-outline-color!default;
$icons-outline-hover-border:                       darken($icons-outline-hover-bg, 5%)!default;

/* Variables icons inverse */
$icons-inverse-color:                              #fff!default;
$icons-inverse-bg:                                 #000!default;
$icons-inverse-border:                             darken($icons-inverse-bg, 5%)!default;
$icons-inverse-hover-color:                        #000!default;	
$icons-inverse-hover-bg:                            transparent!default;
$icons-inverse-hover-border:                       $icons-inverse-bg!default;


/* Variables icons for light style */
$bo-light-style-color:                        #5d5d5d!default;
$bo-light-style-hover-color:                  #5d5d5d!default;
$bo-light-style-bg:                           #aaa!default;
$bo-light-style-hover-bg:                     #fff!default;

$bo-light-style-icon-bodered-color:                #aaa!default;
$bo-light-style-icon-bodered-hover-color:          #fff!default;
$bo-light-style-icon-bodered-bg:                   #aaa!default;
$bo-light-style-icon-bodered-hover-bg:             #fff!default;

 /* --- SCSS For Table --- */

 /* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
$bo-tabs-a-color:#666 !default; 
$bo-tabs-a-color-active: $theme-color !default;

$bo-tabs-padding: 8px 20px !default; 
$bo-tabs-background: transparent !default;
$bo-tabs-background-hover: transparent !default;
$bo-tabs-content-background: transparent !default;

$bo-tabs-border-color : #eee !default;
$bo-tabs-content-border:  0 !default;
$bo-tabs-content-padding: 15px 20px!default;

/* tab style version 4 */
$bo-tabs-v4-a-color:               #292733 !default; 
$bo-tabs-v4-a-color-active:        $theme-color !default;

$bo-tabs-v4-padding:               20px 25px !default; 
$bo-tabs-v4-background:            transparent !default;
$bo-tabs-v4-background-hover:      $theme-color !default;
$bo-tabs-v4-content-background:    transparent !default;

$bo-tabs-v4-border-color : transparent !default;
$bo-tabs-v4-content-border:  0px solid $bo-tabs-v4-border-color !default;
$bo-tabs-v4-content-padding: 0!default;


/* tab style version 5 */
$bo-tabs-primary-background-hover:#000000!default;
$bo-tabs-primary-background:#FFFFFF !default;

/* tab style version 6 */
$bo-tabs-v6-heading-background: #FFFFFF !default; 

$bo-tabs-v6-a-color : #000000 !default;
$bo-tabs-v6-a-color-active:red !default;
$bo-tabs-v6-heading-padding: 10px 20px;
$bo-tabs-v6-heading-border-top-color:#000000 !default; 

$bo-tabs-v6-heading-border-color:#eee !default;  
$bo-tabs-v6-content-border-color:1px solid $bo-tabs-border-color !default;

 /* --- SCSS For Testimonials --- *//* testimonials default */
$bo-testimonials-color:                              #696969;
$bo-testimonials-a-color:                            #696969;
$bo-testimonials-heading-color:                      #696969;							


/* testimonials-v1 */
$bo-testimonials-v1-color:                              #696969;
$bo-testimonials-v1-a-color:                            #696969;
$bo-testimonials-v1-background:                         transparent;
$bo-testimonials-v1-light-background:                         #f7f7f7;
$bo-testimonials-v1-light-color:                              #555;

/* testimonials light */
$bo-testimonials-light-color:                              #fff;
$bo-testimonials-light-a-color:                            #fff;
$bo-testimonials-light-heading-color:                      #fff;

/* testimonials-v4 */
$bo-testimonials-v4-bg:                            $brand-primary;

/* testimonials-v5 */
$bo-testimonials-v5-bg:                            $brand-primary;

/* testimonials-v6 */
$bo-testimonials-v6-bg:                            $brand-primary;



 /* --- SCSS For Typography --- */
$bo-blockquote-icon-background  : $brand-primary !default;
$bo-blockquote-icon-color       : #FFFFFF !default;
$bo-blockquote-icon-font-size   : 17px !default;
$bo-blockquote-icon-line-height : 22px !default;

$bo-blockquote-color            : #000000 !default;
$bo-blockquote-border-color     : #000!default;
