 
// Button
// ========================================================================

$button-addtocart-bg:               $white!default;
$button-addtocart-color:            #010101 !default;
$button-addtocart-hover-color:      $white !default;
$button-addtocart-bg-hover:         $theme-color !default;
$button-addtocart-border:           rgba(0, 0, 0, 0.1) !default;
$button-addtocart-font-size:        $font-size-base -1 !default;
$button-addtocart-padding:          7px 8px !default;
$button-addtocart-icon-bg:          $theme-color !default;
$button-addtocart-icon-color:       $white !default;
$button-addtocart-icon-bg-hover:    $white !default;
$button-addtocart-icon-border:      0 !default;
$button-addtocart-height:           33px !default;
$button-addtocart-icon-size:        14px !default;
$button-addtocart-font-family:      $font-family-base !default;
$button-bg-color: 					#f5f5f5 !default;
 
// product label
$product-label-border-color:          #eee262 !default;
$product-label-color :                #fff !default;
$product-label-font-size  :           12px !default;
$product-label-font-family:           $font-family-tertiary !default;
$product-label-font-weight:           bold !default;

$product-label-new-bg:                #fb2250 !default;
$product-label-new-border-color:      #00bfa5 !default;

$product-label-sale-bg:               #ff3d00 !default;
$product-label-sale-border-color:     #ff3d00 !default;
$product-label-sale-text-color:       $white !default;

// prodduct availability 
$product-warning-display:             1!default;	
$product-warning-avariable-now-bg:    #74B841 !default;
$product-warning-avariable-now-color: #fff !default;

$product-warning-outofstock-bg:       red !default;
$product-warning-outofstock-color:    red !default;


//---------- Product Elements

$product-price-bg-color:			$red !default;
$product-price-color:				$theme-color !default;
$product-reduced-price:				$theme-color-secondary !default;

$product-price-font-family:         $font-family !default;
$product-price-font-size:           14px !default;
$product-price-font-weight:         normal  !default;


$product-new-price-color:           $theme-color !default;
$product-new-price-bg-color:	    $red!default;
$product-new-price-font-size:       $product-price-font-size !default;
$product-new-price-weight:          400!default;

$product-special-price-bg-color:	$red !default;
$product-special-price-color:		$white !default;
$product-special-price-size:		$product-price-font-size !default;

$product-old-price-color:			#000 !default;
$product-old-price-bg-color: 		#56595e !default;
$product-old-price-size:			$product-price-font-size -2 !default;
$product-old-price-font-weight:	    400 !default;




// Product alert stock 

$product-stock-font-size :  11px!default; 
$product-instock-color   : 	$white !default;
$product-instock-bg  	 : 	#74B841 !default; 

$product-outofstock-color:  $white !default; 
$product-outofstock-bg      : $red !default; 


// Product Block
// ========================================================================
$product-size:                      $font-size-base !default;
$product-bg-color:                  $white !default;
$product-margin:                    35px;
$product-border-color : 			1px solid transparent !default;
$product-content-bg: 				transparent !default;
$product-content-padding:			30px !default;
$product-container-border:			1px solid transparent !default;
$product-container-bg:              $white !default;


$product-link-color: 				$link-color !default;
$product-link-hover-color: 			$theme-color !default;
$product-name-color: 				#666666 !default;
$product-name-hover-color:          $theme-color !default;
$product-name-line-height:          20px !default;
$product-name-font-family:          $font-family-secondary !default;
$product-name-font-size: 			$font-size-base - 1 !default;
$product-name-font-weight: 			normal !default;
$product-name-text-decoration:      none !default;
$product-padding:                   0 !default;

$product-button-bg: 				$theme-color-tertiary !default;
$product-button-hover-color:		$white !default;


$product-filter-bg:                 $white !default;
$product-filter-font-size:          12px !default;
$product-filter-color:              #4c4c4c !default;
$product-filter-padding: 			18px 0 !default;
$product-filter-margin:             0 !default;
$product-filter-border-color :		#e1e1e1 !default;


$product-deals-link-color:          $black !default;
$product-deals-link-hover-color:    $theme-color !default;
$product-image-border:              0px !default;
$product-image-radius:              0px !default;

$product-icon-font-size:             $font-size-base !default;
$product-icon-border:               1px solid #28313c !default;

$product-icon-color:                $white !default;
$product-icon-bg:                   $theme-color-secondary !default;
$product-icon-hover-color:          $theme-color !default;

$product-zoom-bg:                   $theme-color-secondary !default;
$product-zoom-color:                $white !default;
$product-list-padding:              20px 18px !default;

$product-item-border:               1px solid $border-color !default;

$product-gallery-border-color : 	darken( $border-color, 20%);

$product-rating-font-size:          12px !default;


// Product Info
// ========================================================================
$product-info-padding:              25px!default;
$product-info-margin:               10px !default;
$product-info-border:               1px solid $border-box !default;
$product-info-bg:                   $white !default;
$product-info-color:               $text-color !default;
$product-info-marging-cart:         0 30px !default;



$product-info-name-font-size: 		   $font-size-h1 !default;
$product-info-font-size:               $font-size-base !default;
$product-info-description-font-size:   $font-size-base  !default;
$product-info-extra-font-size:         $font-size-base + 2  !default;

$product-info-price-old-color:         #888;
$product-info-price-color:             #000 !default;
$product-info-price-font-size: 		   18px !default;

