/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
}
#categories_block_top .sf-menu {
  position: relative;
}
#categories_block_top .sf-menu > li {
  position: static;
}
#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px;
}
#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.rtl #categories_block_top .sf-menu > li > ul > li {
  float: right;
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%;
}
#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em;
}
#categories_block_top .sf-menu > li h4 a:before {
  display: none;
}
#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  left: 0;
}
.rtl #categories_block_top .sf-menu > li .main-level-submenus {
  right: 0;
  left: auto;
}
#categories_block_top .sf-menu .category_thumb {
  display: none;
}

.categoriestabs .block-category {
  margin-bottom: 0;
}
.categoriestabs li a {
  display: block;
  position: relative;
  font-family: "SanFranciscoTextMedium_0";
  font-size: 12px;
  color: #8899a6;
  border: none;
}
.categoriestabs li span.grower {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 20px;
  z-index: 50;
}
.categoriestabs li span.grower:before {
  content: "--";
  display: block;
  line-height: 20px;
  text-align: center;
  font-family: "FontAwesome";
  letter-spacing: -2px;
}
.categoriestabs li span.grower.CLOSE:before {
  content: "+";
}
