@import "compass";
@import "theme_variables";

.pts-col.default {
  clear: both;
}

.pts-col.primary {
  clear: both;
}

.pts-col.success {
  clear: both;
}

.pts-col.info {
  clear: both;
}

.pts-col.warning {
  clear: both;
}

.pts-col.danger {
  clear: both;
}

/* row style */
.pts-row.default {
  clear: both;
}

.pts-row.primary {
  clear: both;
}

.pts-row.success {
  clear: both;
}

.pts-row.info {
  clear: both;
}

.pts-row.warning {
  clear: both;
}

.pts-row.danger {
  clear: both;
}


/* widget*/

.widget.default {
  clear: both;
}

.widget.style1 {
  clear: both;
}

.widget.style2 {
  clear: both;
}

.widget.style3 {
  clear: both;
}

.widget.style4 {
  clear: both;
}

.widget.style5 {
  clear: both;
}

.widget.style6 {
  clear: both;
}
.widget.style7 {
  clear: both;
}
.widget.style8 {
  clear: both;
}


.widget.nopadding {
  clear: both;
}

.widget.nomargin {
  clear: both;
}

.widget.borderbox {
  clear: both;
}

.pts-parallax {
  @include parallax();
    position: relative;
}

.widget-inner > [class*="col-"]{
  width: 100%!important;
  padding-left:0!important;
  padding-right: 0!important;
 }

//css row style

.row-primary{ 
  background-color: lighten($brand-primary, 47%);
  border: 1px solid lighten($brand-primary, 25%);

}

.row-success{
  background-color: lighten($brand-success, 42%);
  border: 1px solid lighten($brand-success, 25%);
}

.row-info{
  background-color: lighten($brand-info, 35%);
  border: 1px solid lighten($brand-info, 20%);
}

.row-warning{
  background-color: lighten($brand-warning, 35%);
  border: 1px solid lighten($brand-warning, 15%);
}

.row-danger{
  background-color: lighten($brand-danger, 50%);
  border: 1px solid lighten($brand-danger, 20%);
}

//css col style

.col-primary{ 
  background-color: lighten($brand-primary, 40%);
  border: 1px solid lighten($brand-primary, 25%);

}

.col-success{
  background-color: lighten($brand-success, 35%);
  border: 1px solid lighten($brand-success, 25%);
}

.col-info{
  background-color: lighten($brand-info, 30%);
  border: 1px solid lighten($brand-info, 20%);
}

.col-warning{
  background-color: lighten($brand-warning, 30%);
  border: 1px solid lighten($brand-warning, 15%);
}

.col-danger{
  background-color: lighten($brand-danger, 40%);
  border: 1px solid lighten($brand-danger, 20%);
}

//widget images
.widget-images {
  .image-item {
    position: relative;
  }
}


//widget manufacture
.widget-manufacture {
  &.block-borderbox {
    .block_manuf {
      margin: 10px 0;
    }
  }
}


// widget video

.widget-video {
  .subinfo {
      font-size: $font-size-base;
       text-transform: uppercase;
       color: $black;
       padding: 10px 0;
  }
}
//widget latestblog
.widget-latestblog {
  .blog_container {  
    position: relative;
    .blog-image {
      position: relative;
      @media (max-width: $screen-sm-max) {
        img{
            width:100%;
        }
      }
    }
    .blog_inner {
      padding: 20px;
    }
    .blog-meta {
      font-size: 11px;
      font-weight: 400;
      font-family: $font-family-tertiary;
      color: #fff;
      line-height: 12px;
      padding:10px 30px 20px 30px;
      position:absolute;
      bottom:0px;
      .blog-ctncomment {
        @include inline-block();
        font-size: 11px;
        font-family: $font-family-tertiary;
        color: $white;
        font-weight: 400;
      }
      a {
        color: $white;
        font-family: $font-family;
        font-size: $font-size-base - 1;
        font-weight: 700;
        text-transform: uppercase;
      }
      .blog-created{
          font-family:$font-family-tertiary;
          font-size: 11px;
          color:$white;
          span{
            line-height: normal;
            text-align: center;
          }
          .day{
          }
          .month{
          }
      }
    }
    .blog-title {
      margin-top: 10px;
      overflow: hidden;
      height: 45px;
      font-size: 12px;
      a {
        line-height: 22px;
        font-weight:500;
        font-size:  15px;
      }
    }
    .blog-shortinfo {
      display: block;
      overflow: hidden;
      max-height: 125px;
      line-height: 22px;
    }
   .readmore { 
      padding-top: 10px;
      @include rtl-text-align-right; 
      a {
         position: relative;
         text-transform: uppercase;
         font-size: 12px;
      }
    }
    .created {
      background-color: #2f2f2f;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      @include rtl-margin-right(10px);
    }
    &.list {
      .blog-image {
        .icon {
          font-size: 36px;
          margin-top: 15px;
          display: block;
        }
      }
      .blog-title {
        height: auto;
        max-height: 45px;
      }
      .blog-shortinfo {
        height: auto;
        max-height: 65px;
      }
    }
  }
}
//widget newslleter
#newsletter_block_footer {
  margin-bottom: 55px;
  .widget-newsletter{
    margin-bottom:0px;
  }
}
.widget-newsletter {
  .newsletter-group {
    margin: 15px 0;
    .newsletter-input {
      background-color: #fff;
      border: 0;
      @include rtl-padding-left(110px);
      height: 42px;
    }
    span{
      @include rtl-border-right(1px solid #222222);
      color: #000000;
      line-height: 25px;
      margin: 8px 12px;
      padding: 0 10px;
      position: absolute;
      @include rtl-left(0);
      z-index: 6;
      text-transform: uppercase;
    }
  }
}
//widget-producttabs

//widget-gallery

.widget-gallery {
  .block_content {
    border: 0;
  }
}

//widget ourservice

//widget-products 
.list2 {
    > li {
      @include rtl-border-right(1px solid $base-border-color);
      &.last-in-line {
        @include rtl-border-right(0);
      }
      &.break_line {
        padding: 0;
        hr {
          border-color: #e1e1e1;
          margin: 0;
        }
      }
    }
    > div {
        padding: 15px!important;
        &:first-child {
          .right-block {
            text-align: center;
            .price {
              font-size: 18px;
            }
          }
        }
        &:last-child {
          .product-block .name {
            margin-top: 5px;
            .name a {
              font-size: 13px;
            }
          }
        }
    }
    .product-block {
        padding: 15px;
        .name a {
            height: auto;
        }
    } 
}


//widget_categories_sub_products

.widget_categories_sub_products {
  .widget-heading {
    font-size: 36px;
    line-height: 40px;
    font-family: $font-family-secondary;
    padding: 10px 0;
    font-weight: 600;
    > div {
      margin-top: 20px;
      .subcategory_link {
        display: inline;
        li {
          line-height: 16px;
          @include rtl-float-left;
          a {
            font-size: 12px;
            font-family: $font-family;
            line-height: 16px;
            @include rtl-float-left;
            font-weight: 400;
            color: #aaa;
            &:hover {
              color: $link-hover-color;
            }
          }
        }
      }
      .seemore {
        border: 1px solid $theme-color;
        padding: 2px;
        @include border-radius(50%);
        font-size: 8px;
        @include size(17px,15px);
        color: $theme-color;
        font-weight: 600;
        line-height: 10px;
        text-align: center;
        display: block; 
        @include rtl-float-right;
        &:hover {
          background-color: $theme-color;
          color: #fff;
        }
      }
    }
  }
  .block-item1 {
    @include rtl-margin-right(-1px);
  }
  .block-item2 {
    .block_content {
      min-height: 357px;
    }
  }
}
//flashsale

.widget-flashsale {
  z-index: 81;
  position: relative;
  .flashsale-time {
    position: absolute;
    top: 15px;
    @include rtl-right(0);
    @media(max-width: $screen-xs) {
      top: 40px;
    }
    label {
      display: block;
      @include rtl-float-left;
      padding: 5px 20px;
      @include rtl-background-position-left(7px);
      background-repeat: no-repeat; 
      text-transform: uppercase;
      font-size: 16px;
      @include rtl-border-right(1px solid $base-border-color);
    }
  }
  .pts-flashsale-time {
    @include rtl-float-left;
    display: inline-block;
    padding: 0 10px;
    li {
      @include rtl-float-left;
      font-family: $font-family;
      background-color: #fff;
      color: #bbb;
      display: block;
      position: relative;
      @include size(44px,44px);
      text-align: center;
      text-transform: uppercase;
      font-size: 11px;
      text-transform: uppercase;
      line-height: 18px;
      font-weight: 300;
      padding: 5px 0;
      .countdown_num {
        font-size: 18px;
        color: #000;
      }
      &:before {
        @include element-absolute(5px,inherit,0,right);
        content: ":";
        @include size(5px,15px);
        font-size: 18px;
        color: #000;
        font-weight: bold;
      }
      &:last-child {
        .countdown_num {
          color: $theme-color;
        }
        &:before {
          display: none;
        }
      }
    }
  }
  .default.products-block {
    padding: 0
  }
}

//product deal
.widget-productdeal {
  .grid {
  }
}

//Widget categories info
.widget-categories-info {
  margin-top: 10px;
  margin-bottom: 50px;
  .widget-heading {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
  }
  .block_content {
    border: 1px solid #e9e9e9;
  }
  .categories-info-subcategory {
    @include rtl-text-align-right;
    padding: 20px 30px 30px 10px;
    h4 { 
      margin-top: 0;
      a {
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
    ul li a {
      font-size: 12px;
      padding: 4px 0;
      display: block;
    }
  }
  .image {
    position: relative;
    &:before {
      content: "";
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      @include rtl-border-left(6px solid #fff);
      top: 50%;
      @include rtl-left(0);
      position: absolute;
      margin-top: -3px;
      z-index: 100;
    }
    img {
      @include opacity(1);
      @include transition(all 0.3s ease-in-out 0s);
    }
  }
  .btn {
    margin-top: 10px;
  }
  .category_list > li {
    &:hover {
      .image {
        img {
          @include opacity(0.5);
        }
      }
    }
  }
}
//subcategories

.widget-subcategories {
  background-repeat: no-repeat;
  @include rtl-background-position-percent (100%, 100%);
  @media(min-width: $screen-sm-max) {
    min-height: 258px;
  }
  ul {
    margin-bottom: 0;
    li {
      font-size: 12px;
    }
  }
} 
//widget-social

.social {
  padding:20px 190px 50px 190px;
  @media (max-width: $screen-xs-max) {
    padding:20px 0px 50px 0px;
  }
  .block  {
    margin-bottom: 0;
  }
/*   .pts-widget{
    border:4px solid $theme-color;
  } */
  .widget-heading {
    border-bottom:none;
    text-align: center;
    margin: 20px 0px!important;
    padding: 0 !important;
    font-family: $font-family-septenary;
    font-size: 18px;
    font-weight: 700;
    color:$white;
    letter-spacing: 2.5px;
  }
  .block_content {
    margin-bottom:30px;
  }
  .bo-social-icons {
    margin: 0;
    text-align: center;
    padding:0px;
    li { 
      line-height: 20px;
      display: inline-block;
      border-radius:20px;
      margin:0px 12px;
      a {
        display: block;
        &:hover{
          transform:rotate(360deg);
          @include transition(all 0.3s ease-in-out 0s);
        }
        span {
          display: none;
        }
        & > * {
          display: inline-block;
        }
        .icon {
          font-size: 18px;
          color: #fff;
          @include transition(all 0.3s ease-in-out 0s);
        }
        &:hover {
          .icon {
            border-color: $theme-color;
            color: $theme-color;
            @include transition(all 0.3s ease-in-out 0s);
          }
        }
      }
    }
  }
}

// Widget promotions
.widget-promotions {
  .widget-heading {
    font-size: 36px;
    line-height: 40px;
    padding: 10px 0;
  }
  .nav-theme {
    border: 1px solid $base-border-color;
    li {
      border-top: 1px solid $base-border-color;
      padding: 0;
      position: relative;
      &:focus,
      &.active {
        background-color: $link-hover-color;
        &:after {
          content: "";
          @include size(0,0);
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          @include rtl-border-left(5px solid $theme-color);
          position: absolute;
          @include rtl-right(-5px);
          top: 50%;
          margin-top: -5px;
        }
        a {
          color: #fff;
        }
      }
      a {
        color: #000;
        font-weight: 600;
      }
      &:first-child {
        border-top: 0;
      }
    }
  }
}

//widget product
  .widget-product {

  }
// widget ptssliderlayer

.widget-ptssliderlayer {
  @include clearfix;
}
// Widget product deal
/*widget tab*/
/* Home pagebuilder  */
.pagebuilder {
  .pts-container {
  }
}
//footerbuilder
//
//quicklink

.quicklink {
  background-color: #f6f6f6;
  display: block;
  h5 {
    display: inline-block;
    background-color: #333;
    position: relative;
    color: #fff;
    @include rtl-padding(12px, 15px, 12px ,25px);
    font-weight: 400;
    text-transform: uppercase;
    @include rtl-margin(0,20px,0,0);
    font-size: 10px;
    &:before {
      content: "";
      @include size(0,0);
      position: absolute;
      top: 0;
      @include rtl-right(-10px);
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-right: 0;
      @include rtl-border-left(10px solid #333);
    }
  }
  ul {
    display: inline-block;
    li {
      position: relative;
      font-size: 12px;
      @include rtl-padding(0, 7px, 0, 12px);
      &:before {
        content: "";
        @include size(0,0);
        position: absolute;
        top: 8px;
        @include rtl-left(0);
        border: 2px solid #aaa;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}



//widget-productdeal 

.widget-promotion {
  background-color: #282423;
  .title_block {
    text-align: center;
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid #fff;
    padding: 20px 15px;
    &:before {
      display: none;
    }
  }
  .promotion-list {
    margin: 0;
    > li {
      @include rtl-border-left(1px solid #fff);
      .promotion-title {
        display: none;
      }
    }
  }
}

//widger-banner

.widget-banner {
  .widget-banner-desc {
    padding: 25px;
    .sub-title {
      font-size: 16px;
      font-family: $font-custom;
      text-transform: uppercase;
    }
  }
}

//widget-testimonial
.widget-testimonial {
  .testimonials-body {
    padding: 20px 0;
    .name {
      font-weight: 600;
    }
  }
}

//widget-tags

.widget-tags {
  a {
    background-color: #f4f4f4;
    color: #999;
    font-family: $font-custom;
    text-transform: uppercase;
    font-size: 10px;
    padding: 6px 8px;
    &.tag_level2 {
      font-size: 11px;
    }
    &.tag_level3 {
      font-size: 12px;
      font-weight: 700;
    }
    &.tag_level4 {
      font-size: 13px;
      font-weight: 700;
    }
    &:hover {
      background-color: $theme-color;
      color: #fff;
    }
  }
}

//widget-subcategorytab

.widget-subcategories_tab {
  @media(min-width: $screen-sm-max) {
    .floor-fixed-panel-play {
      &:before {
        @include element-absolute(0,inhert,16.6667%,left);
        @include size(0,100%);
        border-left: 1px solid $base-border-color;
        z-index: 9;
      }
    }
  }
  .category-banner {
    [class*="col-"],[class^="col-"] {
      position: static;
    }
  }
}
#j-floor-fixed-panel {
  position: fixed;
  @include opacity(0);
  top: 0;
  @include transition(all 0.5s ease-in-out 0s);
  .floor-nav-list {
    a {
      padding: 20px;
      display: block;
      @include size(65px,65px);
      color: #fff;
      &.active {
        background-color: #f44336;
        &:after {
          position: absolute;
          top: 50%;
          content: "";
          @include rtl-right(-8px);
          @include size(0,0);
          margin-top: -4px;
          border-top: 8px solid transparent !important;
          border-bottom: 8px solid transparent !important;
          @include rtl-border-left(8px solid #f44336);
        }
        $i: 1;
        @each $kvp in $block-style { 
          &.floor-skin-tab#{$i} {
            background-color: nth($kvp, 2);
            &:after {
              border-color: nth($kvp, 2);
             
            }
          }
          $i: $i +1 ;
        }
      }
      $i: 1;
      @each $kvp in $block-style { 
        &.floor-skin-tab#{$i} {
          &:hover {
            background-color: nth($kvp, 2);
            span {
              background-color: nth($kvp, 2);
            }
          }
          $i: $i +1 ;
        }
      }
      &:hover {
        span {
          @include opacity(1);
          @include rtl-left(100%);
          visibility: visible;
        }
      }
      background-color: #000;
      span {
        @include rtl-left(150%);
        top: 0;
        z-index: 99;
        @include opacity(0);
        visibility: hidden;
        white-space: nowrap;
        @include rtl-padding(10px, 20px, 10px, 0);
        height: 65px;
        position: absolute;
        line-height: 44px;
        @include rtl-margin-left(-10px);
        @include transition(all 0.2s ease 0s);
      }
    }
  }
  &.floor-fixed {
    top: 150px;
    @include opacity(1);
  }
}
@media (max-width: $screen-sm-max) {
  .tab-v2 > .nav-tabs > li {
    display: inline-block!important;
  }
}


