@import "compass";
@import "theme_variables";
#search_block_top {
	.button-search {
		display: block;
		position: absolute;
		top: 0;
		@include rtl-right(0);
		@include size(42px,42px);
		text-align: center;
		padding: 0;
		border: 0;
		line-height: 40px;
		font-size: 12px;
		background: transparent;
		color: #000;
	}
	#searchbox {
		margin: 0 auto;
	    position: relative;
		label {
			color: $base-text-color;
		}
	}
}
#search_query_top {
	@include rtl-float-left;
	@include rtl-padding (0, 50px, 0, 10px);
	border: 0;
	height: 42px;
	@include box-shadow(inset 0 0 3px rgba(0,0,0,0.24));
}
.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	
