    @import "theme_variables";
	@import "vars/home2";

	@media(min-width: $screen-sm-max) {
		.widget-sliderlayer {
			@include rtl-margin-left(23%);
		}
		.header3 {
			.widget-sliderlayer {
				@include rtl-margin-left(0);
				margin-top: 30px;
			}
		}
	}
