/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons outline */
/* Variables icons inverse */
/* Variables icons for light style */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 4 */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* testimonials-v4 */
/* testimonials-v5 */
/* testimonials-v6 */
/* --- SCSS For Typography --- */
#blog-listing {
  margin-bottom: 30px;
}
#blog-listing > .inner {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #e1e1e1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.blogs-container h3 {
  margin-bottom: 10px;
}
.blogs-container h4 {
  margin-bottom: 15px;
  line-height: 25px;
  display: block;
  height: 50px;
  overflow: hidden;
}
.blogs-container .blog-image {
  margin: 10px 0;
}

.blog-item h4 a {
  color: #000;
}
.blog-item h4 a:hover {
  color: #d44d5c;
}
.blog-item .blog-meta {
  line-height: 18px;
  color: #888;
  font-family: "SanFranciscoTextRegular_0";
  font-size: 9px;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
}
.blog-item .readmore {
  padding-left: 0;
  padding-right: 0;
}

.secondary-blog .blog-shortinfo {
  height: 90px;
  display: block;
  overflow: hidden;
}

.blog-meta span {
  margin-right: 5px;
}
.rtl .blog-meta span {
  margin-left: 5px;
  margin-right: inherit;
}

.leading-blog {
  border-bottom: 1px solid #e1e1e1;
}
.leading-blog .media {
  float: left;
  width: 100%;
}
.leading-blog h4 {
  height: auto;
}

.top-pagination-content {
  border-top: 1px solid #e1e1e1;
  padding: 10px 15px;
}

/* blog */
.blog-detail {
  margin-bottom: 30px;
}
.blog-detail .blog-image {
  margin-bottom: 8px;
  float: left;
  margin-right: 15px;
  border: 1px solid #e1e1e1;
}
.rtl .blog-detail .blog-image {
  float: right;
}
.rtl .blog-detail .blog-image {
  margin-left: 15px;
  margin-right: inherit;
}
.blog-detail .blog-description {
  font-weight: bold;
}
.blog-detail .blog-meta {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.blog-detail .blog-content {
  margin-bottom: 15px;
  text-align: justify;
}
.blog-detail .blog-container {
  border: 1px solid #e1e1e1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.blog-tags, .extra-blogs, .blog-comments, .social-share {
  padding-bottom: 15px;
}

.blog-tags a span {
  background: none repeat scroll 0 0 #666666;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
}

.extra-blogs ul li {
  padding: 6px 0;
  border-top: 1px dotted #e1e1e1;
}
.extra-blogs ul li:last-child {
  border-bottom: 1px dotted #e1e1e1;
}

.blog-video-code .inner {
  background: #DDD;
  padding: 12px;
  margin-bottom: 15px;
  text-align: center;
}

/* comment */
.comment-item {
  padding: 12px 0;
}

.comment-item img {
  padding-right: 12px;
}

.comment-wrap {
  overflow: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.comment-wrap .comment-meta {
  border-bottom: 1px solid #E5E5E5;
  font-size: 11px;
  margin: -20px -20px 10px;
  padding: 10px 20px;
}
.comment-wrap .comment-meta > span {
  font-weight: bold;
}
.comment-wrap .comment-meta > span span {
  font-weight: normal;
}

.blog-social .social-wrap > div {
  float: left;
}
.rtl .blog-social .social-wrap > div {
  float: right;
}
.blog-social .social-heading {
  padding-right: 12px;
}
.rtl .blog-social .social-heading {
  padding-left: 12px;
  padding-right: inherit;
}

.comment-link {
  background: none repeat scroll 0 0 #F4F4F4;
  border-left: 1px solid #e5e5e5;
  display: block;
  float: right;
  font-weight: bold;
  margin: -11px -20px -10px 0;
  padding: 10px 20px;
}
.rtl .comment-link {
  border-right: 1px solid #e5e5e5;
  border-left: inherit;
}
.rtl .comment-link {
  float: left;
}
.rtl .comment-link {
  margin: -11px 0 -10px -20px;
}

.ipts-captcha img {
  padding-right: 12px;
  margin-bottom: 15px;
  display: block;
}
.rtl .ipts-captcha img {
  padding-left: 12px;
  padding-right: inherit;
}

/* categories menu display on left or right sidebar */
.blog-menu .block_content > ul {
  border-top: 1px solid #d6d4d4;
}
.blog-menu li {
  position: relative;
}
.blog-menu li a {
  font-weight: bold;
  color: #333333;
  display: block;
  font-size: 13px;
  line-height: 30px;
  padding: 0 30px 0 19px;
  border-bottom: 1px solid #d6d4d4;
}
.rtl .blog-menu li a {
  padding: 0 19px 0 30px;
}
.blog-menu li a.selected, .blog-menu li a:hover {
  background: #f6f6f6;
}
.blog-menu li span.grower {
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 14px;
}
.rtl .blog-menu li span.grower {
  left: 0;
  right: auto;
}
.blog-menu li span.grower.OPEN:before, .blog-menu li span.grower.CLOSE:before {
  content: "";
  display: block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  color: #333333;
  line-height: 30px;
  text-align: center;
}
.blog-menu li span.grower.CLOSE:before {
  content: "";
  color: #c0c0c0;
}
.blog-menu li span.grower:hover + a {
  background: #f6f6f6;
}
.blog-menu li li a {
  font-weight: normal;
  color: #777777;
}
.blog-menu li li a:before {
  content: "";
  font-family: "FontAwesome";
  line-height: 29px;
  padding-right: 8px;
}

#blog-category {
  margin-bottom: 20px;
}
#blog-category > .inner {
  padding: 30px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.blog-category {
  margin-bottom: 20px;
}

.blog-subcategory h4 {
  height: 50px;
  font-weight: 500;
  margin-bottom: 0;
}
.blog-subcategory .child-desc {
  display: block;
  height: 90px;
  overflow: hidden;
}
